.news_hero {
    padding: 62px 28px 47px;
}

.news_hero_page_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 209%;
    color: #848484;
}
.hero_news_span{
    color: #e47500;
}