.header__top {
    padding-top: 8px;
    padding-bottom: 9px;
    display: none;
}

.header__addres {
    font-weight: 400;
    font-size: 10px;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__addres::before {
    content: "";
    background-image: url('../../img/header_icon1.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.header__tel {
    font-weight: 400;
    font-size: 10px;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__tel::before {
    content: "";
    background-image: url('../../img/header__icon2.svg');
    width: 15px;
    height: 15px;
    display: inline-block;
}

.header__top_wrapper {
    display: flex;
    justify-content: end;
    gap: 100px;
    display: none;
}

.header__main {
    padding-top: 20px;
    padding-bottom: 19px;
    background: linear-gradient(111deg, #e47500 0%, #df7c14 100%);
}

.header__logo {
    width: 57px;
    height: 31px;
}

.header__link {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.header__button {
    font-weight: 400;
    font-size: 13px;
    color: #dc7000;
    border-radius: 6px;
    background-color: #fff;
    padding: 11px 28px;
}

.header__list {
    display: none;
}

.header__menu {
    background-image: url('../img/header_menu.svg');
    background-repeat: no-repeat;
    border: none;
    width: 26px;
    height: 21px;
    background-position: center;
    background-color: transparent;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header__top_wrapper {
        display: flex;
    }

    .header__top {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .header__logo {
        padding-top: 6px;
    }
}

@media screen and (min-width: 992px) {
    .header__main {
        padding-top: 15px;
        padding-bottom: 13px;
    }

    .header__logo {
        width: 71px;
        height: 39px;
        padding-top: 10px;
    }

    .header__list {
        gap: 70px;
    }
}